@import "../composition/theme";
body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $tertiary-color;

    transition: .5s;
    &.dark
    {
        background-color: black;
        p, span, label, h1, h2, h3, h4
        {
            color:white;
        }
        #theme-btn {
            color: $primary-color;

            &:hover {
                color: $tertiary-color;
            }
        }
    }


    .logo-link {
        text-decoration: none;
        .logo {
            width: 3em;
        }
    }
}