@import "../composition/theme";
body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $tertiary-color;

    transition: .5s;

    .page_link {
        text-decoration: none;
        color: $accent1;
        text-align: center;
        display: block;
        width: fit-content;
        margin: .5em auto 0;
        font-size: .9em;

        &:hover {
            text-decoration: underline;
        }
    }

    &.dark
    {
        background-color: black;
        p, span, label, h1, h2, h3, h4, fieldset
        {
            color:white;
        }
        #theme-btn {
            color: $primary-color;

            &:hover {
                color: $tertiary-color;
            }
        }

        fieldset {
            input {
                background-color: rgb(61, 61, 61);
                color: white;
            }
        }

        .page_link {
            color: $secondary-color;
        }

        #hero {
            .hero-content {
                background-color: #5151514a;

                &:hover {
                    background-color: #353535a7 ;
                }
            }
        }
        #home-content {
            #home-text {
                ul {
                    li {
                        color: white;
                    }
                }
            }
        }
    }


    .logo-link {
        text-decoration: none;
        .logo {
            width: 3em;
        }
    }
}