@import "../composition/theme";
footer
{
    min-height: 8em;
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        height: fit-content;
        display: block;
        margin: auto 0;
    }
    
    p {
        color: white;
        text-align: center;
        margin: auto 0;
    }
}