@import "../composition/theme";

form {
    margin: 2em auto;
    fieldset {
        max-width: 20em;
        margin: 0 auto;
        box-sizing: border-box;
        border: .15em solid $primary-color;
        border-radius: .7em;
        padding: 1em;

        legend {
            color: $primary-color;
        }

        input {
            box-sizing: border-box;
            display: block;
            width: 100%;
            padding: .3em;
            border-radius: .5em;
            border: .1em solid $primary-color;
        }
        button {
            margin: 1em auto 0;
        }
    }
}