@import "../composition/theme";
main
{
    background-color: $primary-color;
    flex: 1;


}

.last-name 
{
    display: none;

    @media screen and (min-width: 400px) 
    {
        display: inline;
    }
}

#student-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    .student-name
    {
        width: 10em;
        padding: .5em;
        text-align: center;
        background-color: $secondary-color;
        @media screen and (min-width: 400px)
        {
            width: 15em;
        }
        
        &.highlighted {
            background-color: yellow;
            font-weight: bold;
        }
    }
}

.logo //this is assuming that 'logo' is the name of the class that contains the logo (which I highly reccomend)  
{
	img 
	{
		width: 150px;
	}
}

