@import "../composition/theme";
main
{
    flex: 1;


}

.last-name 
{
    display: none;

    @media screen and (min-width: 400px) 
    {
        display: inline;
    }
}

.classDropdownContainer {
    margin: 0 auto;
    width: fit-content;
}

select {
    padding: .2em;
    border-radius: .5em;
    margin: 1em auto;
}

#student-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    .student-name
    {
        width: 10em;
        padding: .5em;
        text-align: center;
        background-color: $secondary-color;

        span {
            color: black;
        }
        @media screen and (min-width: 400px)
        {
            width: 15em;
        }
        
        &.highlighted {
            background-color: yellow;
            font-weight: bold;
            
            span {
                color: black;
            }
        }
    }
}

button {
    display: block;
    margin: 2em auto;
    box-sizing: border-box;

    background-color: $accent1;
    border: none;
    padding: .5em 2em;
    color: white;

    transition: .2s;

    &:hover {
        cursor: pointer;
        background-color: $secondary-color;
        color: black;
        border-radius: 1em;
    }
}

.logo //this is assuming that 'logo' is the name of the class that contains the logo (which I highly reccomend)  
{
	img 
	{
		width: 150px;
	}
}

