@import "../composition/theme";
main
{
    background-color: $primary-color;
    flex: 1;
}
.last-name {
    display: none;

    @media screen and (min-width: 400px) {
        display: inline;
    }
}